<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="left">
        <form action="{{ url_for('dashboard') }}" method="POST">
            <center><h2><b>LOGIN TO YOUR ACCOUNT</b></h2></center>
            <br>
            <br>
            <div class="group">
                {{ dashboard_login_form.csrf_token }}
                {{ dashboard_login_form.id }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Teacher ID</label>
              </div>
              
              <div class="group">      
                {{ dashboard_login_form.password }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
              </div>
              {{ dashboard_login_form.submit(class="btn") }}
              <br><br><br><br>
              <a href="/"><- GoTo Home</a>
            </form>
        </div>
        <div id="right" style="background:url(../../static/tem.jpeg);background-size: cover;"></div>

    </div> 
    <script>
        let input_element = document.querySelector("input");
        input_element.addEventListener("keyup", () => {
            input_element.setAttribute("value", input_element.value);
        })
    </script>
</body>
</html>