<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="left">
        <form action="{{ url_for('dashboard') }}" method="POST">
            <center><h2><b>LOGIN TO YOUR ACCOUNT</b></h2></center>
            <br>
            <br>
            <div class="group">
                {{ dashboard_login_form.csrf_token }}
                {{ dashboard_login_form.id }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Teacher ID</label>
              </div>
              
              <div class="group">      
                {{ dashboard_login_form.password }}
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
              </div>
              {{ dashboard_login_form.submit(class="btn") }}
              <br><br><br><br>
              <a href="/"><- GoTo Home</a>
            </form>
        </div>
        <div id="right" style="background:url(../../static/tem.jpeg);background-size: cover;"></div>

    </div> 
    <script>
        let input_element = document.querySelector("input");
        input_element.addEventListener("keyup", () => {
            input_element.setAttribute("value", input_element.value);
        })
    </script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/favicon/favicon-96x96.png" type="image/x-icon">
    
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/teacher_login.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/about_page.css">
    <title>Document</title>
  </head>
  <body>

    <!-- NAVBAR -->
  <section id="landing-page">
    {% include 'header.html' %}

    <div class="container">
      <div class="panda">
        <div class="ear"></div>
        <div class="face">
          <div class="eye-shade"></div>
          <div class="eye-white">
            <div class="eye-ball"></div>
          </div>
          <div class="eye-shade rgt"></div>
          <div class="eye-white rgt">
            <div class="eye-ball"></div>
          </div>
          <div class="nose"></div>
          <div class="mouth"></div>
        </div>
        <div class="body"></div>
        <div class="foot">
          <div class="finger"></div>
        </div>
        <div class="foot rgt">
          <div class="finger"></div>
        </div>
      </div>
      <form action="{{ url_for('teacher') }}" method="POST" class="wrong-entry">
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <h1>Login</h1>
        
        {% if get_flashed_messages() %}

        {% for message in get_flashed_messages() %}
          <em><p style="color: red; height: 5%;">{{ message }}</p></em>
        {% endfor %}
      
      {% endif %}
        <div class="input-group my-3">
          {{ dashboard_login_form.roll_no(placeholder="Roll no", class="form-control") }}
        </div>
        <div class="input-group">
          {{ dashboard_login_form.password(placeholder="Password", class="form-control") }}
          <br />
        </div>
        <button
          href="/students_active_page"
          class="btn btn-start-exam btn-primary mt-4"
        >
          Login
        </button>
      </form>
    </div>

    <a href="{{ url_for('change_password_page') }}" class="nav-link"><div class="btn btn-primary">Change Password</div></a></div>
  </section>
    <section id="about_us" style="padding:3% 18% 2% 18%;">
      <picture style="display:block;margin:-12% 0 0 -124%;">
        <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f600/512.webp" type="image/webp">
        <img style="width:7rem;height:7rem;" src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f600/512.gif" alt="😀" width="32" height="32">
      </picture>
      <!-- <picture style="display:block;margin:-12% 0 0 -124%;">
        <img style="width: 21rem;height: 17rem;margin: -5% 0 0 93%;" src="../static/arrow.png" alt="" width="32" height="32">
      </picture> -->
      <h1>About Project</h1>
          <p>VISTA stands for Virtual Instant Student Test Assestment. This is made for taking VIVA exams online without any hassel of using the traditional pen and paper method.
          This website is made by the group of five members of Computer Science & Engineering branch as a 5th Sem PSL Project. We hope that you'll like this and enjoy using this website 😀 </p>
          </p>
  
    </section>
    <section id="team">
      <!-- <picture style="display:block;margin:-12% 0 0 -124%;">
      <img style="width: 21rem;height: 17rem;margin: -1% 0 0 21%;transform: scaleX(-1);" src="../static/arrow.png" alt="" width="32" height="32">
    </picture> -->
      <div class="wrapper">
          <h1>Our Team</h1>
          <div class="our_team">
              <div class="team_member">
                  <div class="member_img">
                      <img src="https://avatars.githubusercontent.com/u/89638731?v=4" alt="dhananjay's github pfp" width="120" height="120" style=" border-radius: 50%">
                      <div class="social_media">
                          <div class="github item"><a href="https://www.github.com/dhananjayyedlabadkar" target="_blank"><i class="fab fa-github"></i></a></div>
                          <div class="linkedin item"><a href="https://www.linkedin.com/in/dhananjay-yedlabadkar-20b952242/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                      </div>
                  </div>
                  <h3>Dhananjay Yedlabadkar</h3>
                  <p>Frontend Dev</p>
              </div>
              <div class="team_member">
                  <div class="member_img">
                      <img src="https://avatars.githubusercontent.com/u/80609574?v=4" alt="krishna's github pfp" width="120" height="120" style=" border-radius: 50%">
                      <div class="social_media">
                                   <div class="github item"><a href="https://www.github.com/krishnapandey24" target="_blank"><i class="fab fa-github"></i></a></div>
                          <div class="linkedin item"><a href="https://www.linkedin.com/in/krishnapandey24" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                      </div>
                  </div>
                  <h3>Krishna Pandey</h3>
                  <p>Backend & Fronted Dev</p>
              </div>
              <div class="team_member">
                  <div class="member_img">
                      <img src="https://avatars.githubusercontent.com/u/96898585?v=4" alt="somesh's github pfp" width="120" height="120" style=" border-radius: 50%">
                      <div class="social_media">
                          <div class="github item"><a href="https://www.github.com/somesh-waghade" target="_blank"><i class="fab fa-github"></i></a></div>
                          <div class="linkedin item"><a href="https://www.linkedin.com/in/somesh-waghade-5ab54b229" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                      </div>
                  </div>
                  <h3>Somesh Wagade</h3>
                  <p>Frontend dev</p>
              </div>
              <div class="team_member">
                  <div class="member_img">
                      <img src="https://avatars.githubusercontent.com/u/59260030?v=4" alt="karan's github pfp" width="120" height="120" style=" border-radius: 50%">
                      <div class="social_media">
                          <div class="github item"><a href="https://www.github.com/karanmandve" target="_blank"><i class="fab fa-github"></i></a></div>
                          <div class="linkedin item"><a href="https://www.linkedin.com/in/karanmandve" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                      </div>
                  </div>
                  <h3>Karan Mandave</h3>
                  <p>Backend & Frontend Dev</p>
              </div>
              <div class="team_member">
                  <div class="member_img">
                      <img src="https://avatars.githubusercontent.com/u/115344883?v=4" alt="rabiya's github pfp" width="120" height="120" style=" border-radius: 50%">
                      <div class="social_media">
                          <div class="github item"><a href="https://www.github.com/rabiyasiddiquee" target="_blank"><i class="fab fa-github"></i></a></div>
                          <div class="linkedin item"><a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                      </div>
                  </div>
                  <h3>Rabiya Siddique</h3>
                  <p>Analyst & Tester</p>
              </div>
          </div>
      </div>
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $("#password").focusin(function () {
        $("form").addClass("up");
      });
      $("#password").focusout(function () {
        $("form").removeClass("up");
      });

      // Panda Eye move
      $(document).on("mousemove", function (event) {
        var dw = $(document).width() / 15;
        var dh = $(document).height() / 15;
        var x = event.pageX / dw;
        var y = event.pageY / dh;
        $(".eye-ball").css({
          width: x,
          height: y,
        });
      });

      // validation

      // $(".btn").click(function () {
      //   $("form").addClass("wrong-entry");
      //   setTimeout(function () {
      //     $("form").removeClass("wrong-entry");
      //   }, 3000);
      // });
    </script>
  </body>
</html>
