<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/login.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div id="left">
        <form action="">
            <center><h2><b>REGISTER TO YOUR ACCOUNT</b></h2></center>
            <br>
            <br>
            <div class="group">      
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Student ID</label>
              </div>
              
              <div class="group">      
                <input type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
              </div>
              <div class="btn" style="float: left; background-color: rgb(33, 144, 255); color: white;">register</div>
              <a href="./login.html"><div class="btn" style="float: right;margin-right: 40px;">login</div></a>
              <br><br><br><br>
              <a href="../home.html"><- GoTo Home</a>
        </form>
        </div>
        <div id="right" style="background:url(../../static/tem.jpeg);background-size: cover;"></div>

    </div> 
    <script>
        let input_element = document.querySelector("input");
        input_element.addEventListener("keyup", () => {
            input_element.setAttribute("value", input_element.value);
        })
    </script>
</body>
</html>