<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/favicon/favicon-96x96.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/student_test.css">
    <link rel="stylesheet" href="../../static/css/create_test.css">
    <title>Test</title>
</head>
<body>
    <div class="nav-wrapper">
        <nav class="navbar">
            <img src="../../static/logoblack.png" alt="Company Logo">
            <ul class="nav no-search">
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div style="display: flex;height:91vh;justify-content:center;align-items:center;">
        <div class="test_container">
            <div class="up_sec">
                <div id="title" style="font-family: 'Bold';">DBMS TEST</div>
                <div class="container" style="background: tomato;"><i class="fa fa-exclamation-triangle"></i>&nbsp;<div id="warning">0</div>/3</div>
                <div class="container"><i class="fa fa-clock-o"></i>&nbsp;<div id="timer"></div></div>
            </div>
            <div class="mid_sec">
                
                <form action="/student-response" method="post" style="display: block;" id="form">
                    {{ csrf.csrf_token }}
                    <div id="que_cont" class="question_container">
                        <template>
                            <div class="que" style="width: 53vw;height: 50vh;display: flex;align-items: center;justify-content: center;" id="1">
                                <div>
                                    <textarea class="que_title" style="background:#e1ecf1;border-bottom:none;width: 51vw;font-family: 'Bold';" rows="5" name="q1" id="" readonly>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repudiandae suscipit ipsam earum alias iusto eos cum consequuntur quis, maiores, corrupti architecto reprehenderit! Vitae perferendis et tenetur assumenda quae nesciunt asperiores incidunt, repudiandae quisquam, tempore, aperiam sed ipsam molestiae architecto totam voluptatem! Similique aspernatur, labore nam ut eveniet libero consequuntur.</textarea>
                                    <br>
                                    <br>
                                    <input type="radio" name="1answer" value="1">
                                    <label for="op1"><textarea  style="background:#e1ecf1;border-bottom:none;width: 50vw;" rows="3" name="1option1" readonly></textarea></label>
                                    <br>
                                    <br>
                                    <input type="radio" name="1answer" value="2">
                                    <label for="op2"><textarea  style="background:#e1ecf1;border-bottom:none;width: 50vw;" rows="3" name="1option2" readonly></textarea></label>
                                    <br>
                                    <br>
                                    <input type="radio" name="1answer" value="3">
                                    <label for="op3"><textarea  style="background:#e1ecf1;border-bottom:none;width: 50vw;" rows="3" name="1option3" readonly></textarea></label>
                                    <br>
                                    <br>
                                    <input type="radio" name="1answer" value="4">
                                    <label for="op4"><textarea  style="background:#e1ecf1;border-bottom:none;width: 50vw;" rows="3" name="1option4" readonly></textarea></label>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </template>
                    </div>
                </form>
               
                <div id="que_box" class="question_box">
                    <template>
                        <div class="que_circle">2</div>  
                    </template>
                    
                </div>
            </div>
            <div class="low_sec">
                <div class="btn" style="background:tomato;" onclick="finish()">Finish</div>
                <div class="btn" style="background:#3498db;" onclick="next()">Next</div>
                <div class="btn" style="background:#3498db;" onclick="pre()">Previous</div>
            </div>
        </div>
    </div>
   <script>
    let warning=0;
    let count;
    let time;
    var cur_que;
        fetch("./active-exam-questions").then((res)=>res.json()).then((data)=>{
            console.log(data)
            count=data.length;
            document.getElementById("title").innerText=data[0].subject_name;
            var form=document.getElementById("que_cont");
            let node=form.lastElementChild;

            for (let index = 1; index <= count; index++) {
                let copy=node.content.children[0].cloneNode(true)
                copy.setAttribute("id",index);

                copy.children[0].children[0].innerText=data[index-1].question;
                copy.children[0].children[0].name="q"+index;
                copy.children[0].children[0].rows=String(data[index-1].question).length<120?1:2;

                copy.children[0].children[3].name=index+"answer";
                copy.children[0].children[3].value=1;
                copy.children[0].children[4].children[0].innerText=data[index-1].option_1;
                copy.children[0].children[4].children[0].name=index+"option1";
                copy.children[0].children[4].children[0].rows=String(data[index-1].option_1).length<120?1:2;
                copy.children[0].children[4].for=index+"answer";

                copy.children[0].children[7].name=index+"answer";
                copy.children[0].children[7].value=2;
                copy.children[0].children[8].children[0].innerText=data[index-1].option_2;
                copy.children[0].children[8].children[0].name=index+"option2";
                copy.children[0].children[8].children[0].rows=String(data[index-1].option_2).length<120?1:2;
                copy.children[0].children[8].for=index+"op1";

                copy.children[0].children[11].name=index+"answer";
                copy.children[0].children[11].value=3;
                copy.children[0].children[12].children[0].innerText=data[index-1].option_3;
                copy.children[0].children[12].children[0].name=index+"option3";
                copy.children[0].children[12].children[0].rows=String(data[index-1].option_3).length<120?1:2;
                copy.children[0].children[12].for=index+"op1";

                copy.children[0].children[15].name=index+"answer";
                copy.children[0].children[15].value=4;
                copy.children[0].children[16].children[0].innerText=data[index-1].option_4;
                copy.children[0].children[16].children[0].name=index+"option4";
                copy.children[0].children[16].children[0].rows=String(data[index-1].option_4).length<120?1:2;
                copy.children[0].children[16].for=index+"op1";

                var box=document.getElementById("que_box");
                let que_circle=box.children[0].content.children[0].cloneNode(true);
                que_circle.innerText=index;
                que_circle.addEventListener("click",()=>{
                    if(selected()){
                        let box=document.getElementById("que_box");
                        let node=box.children[cur_que].style.background="lightgreen";
                    }
                    cur_que=copy.id;
                    refresh_curent();
                 });
                box.appendChild(que_circle);
               
                copy.style.display="none";
                form.appendChild(copy);
                
            }
            cur_que=form.children[1].id;
            refresh_curent();
            time=Number(data[0].test_time);
            
            
            let newsec=0+(time*60);
            let test_time=setInterval(()=>{
                --newsec;
                if(newsec < 0){
                    alert("time up !! submiting test !!");
                    document.getElementById("form").submit();
                    clearInterval(test_time);
                }
                else{
                    document.getElementById("timer").innerText=Math.floor(newsec/60) +":"+((newsec)%60);
                }
            },1000);
        });
       
        function refresh_curent(){
             let form=document.getElementById("que_cont");
             let int=1;
             while(form.childElementCount!=int){
                form.children[int].style.display="none";
                document.getElementById("que_box").children[Number(int)].style.color="grey";
                document.getElementById("que_box").children[Number(int)].style.border="2px solid lightblue";
                int++;
             }
             document.getElementById("que_box").children[Number(cur_que)].style.color="black";
             document.getElementById("que_box").children[Number(cur_que)].style.border="2px solid #3498db";
             document.getElementById(cur_que).style.display="flex";
        }
        function next(){
            let temp=Number(cur_que)
            if(temp <count){
                if(selected()){
                    let box=document.getElementById("que_box");
                    let node=box.children[cur_que].style.background="lightgreen";
                }
                cur_que=String(++temp);
                refresh_curent();
            }
        }
        function selected(){
            let que=document.getElementById(String(cur_que)); 
            let option=que.children[0].children  
            if(option[3].checked || option[7].checked || option[11].checked || option[15].checked)
           {
                return true;
           }
                return false;
            
        }
        function pre(){
            let temp=Number(cur_que)
            if(temp >1){
                if(selected()){
                    let box=document.getElementById("que_box");
                    let node=box.children[cur_que].style.background="lightgreen";
                }
                cur_que=String(--temp);
                refresh_curent();
            }
        }
        function finish(){
            let form = document.getElementById("form");
            form.children[0].removeChild(form.children[0].children[0]);
            form.submit();
        }

        // warnning systems
        let flag=true;
        let warn_time=setInterval(()=>{
            if(document.visibilityState=="hidden" && flag){
                ++warning;
                document.getElementById("warning").innerText=warning;
                flag=false;
                if(warning==3){
                    finish();
                }
            }
            else if(document.visibilityState=="visible" && flag==false){
                flag=true;
            }
        },1000)
        
   </script>
</body>
</html>