*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
  font-family:'Regular' ;
  src: url(../font/Product\ Sans\ Regular.ttf);
}
@font-face{
  font-family:'Bold' ;
  src: url(../font/Product\ Sans\ Bold.ttf);
}
body{
    font-family:'Regular';
    background: #dce6e7;
}

  /* test */
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_head{
    border-radius: 7px;
    border-top: 9px solid lightblue;
    background: white;
    width: 45vw;
    height: 18vh;
    padding: 25px 0px;
  }
  .top_head>input{
    outline: none;
    font-family:'Regular' ;
    display: block;
    border: none;
    width: inherit;
    padding:0 20px;
  }
  label>input{
    outline: none;
    border: none;
    font-family:'Regular' ;
    border-bottom: 1px solid rgba(187, 187, 187, 0.441);
    padding-top: 15px;
    width: 20vw;
  }
  
  #que_container{
    width:45vw;
    background:white;
    border-radius: 7px;
    padding: 20px;
  }
  .que_title{
    font-family:'Regular' ;
    font-size: 1em;
    width: 40vw;
    padding-left: 19px;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    background: rgb(241 241 241);
  }
  label>input:focus,.que_title:focus{
    border-bottom: 2px solid #3498db;
    
  }
 /* add button */
 .btn{
  color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Bold';
    border-radius: 4px;
    text-align: center;
    background:#3498db;
    width: 88px;
    height:30px ;
 }
 #btn_add{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    position: relative;
    left: -25vw;
    top: -18vh;
    text-align: center;
    line-height: 40px;
 }
 #btn_del{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    position: relative;
    left: -25vw;
    top: -20vh;
    text-align: center;
    line-height: 40px;
 }
 #btn_add:hover, #btn_del:hover,.btn:hover{
    box-shadow: 0 9px 7px -6px gray;
    background:#62a4cf ;
    color: white;
 }

 .student_container{
  display: flex;
  overflow: scroll;
  align-items:flex-start;
  flex-direction: column;
  padding: 1% 1%;
  height: 91vh;
  width:20vw;
  right: 0;
  top: 9vh;
  background: white;
  position: fixed;
  border: 2px solid whitesmoke;
 }
 #count{
  outline: none;
  padding: 0 2%;
  height: 6%;
 }
 .student_container::-webkit-scrollbar{
  display: none;
 }
 .student_container div{
  margin-top: 2%;
 }
 #form_options{
  display: flex;
  width: 45vw;
  padding: 15px 26px;
  height: inherit;
  justify-content: space-between;
}

 /* for small screen size */
@media only screen and (max-width:768px){
  form{
    display: unset;
  }
  .top_head,#que_container,#form_options{
    width: unset;
  }
  .top_head>input,.que_title{
    width: -webkit-fill-available;
  }
  #btn_add,#btn_del{
    left: 84vw;
    background: #b8b8b8;
  }
}