*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
  font-family:'Regular' ;
  src: url(../font/Product\ Sans\ Regular.ttf);
}
@font-face{
  font-family:'Bold' ;
  src: url(../font/Product\ Sans\ Bold.ttf);
}
body{
    font-family:'Regular';
}

  /* new section */
  
  .new{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    background: #f1f3f4;
    height: 36.5vh;
  }
  .title{
    top: 8%;
    left: 26%;
    position: relative;
    width: fit-content;
  }
  .box{
    cursor: pointer;
    margin: 40px 0px 0px 25%;   
    display: grid;
    width:26vh;
    border-radius: 10px;
    grid-template-rows: 4fr 1fr;
    
  }
  
 .up{
    display: flex;
    align-items: center;
    justify-content: center;
    height:18vh;
    width: 24vh;
    border: 1px solid #dfdfdf;
    background: white;
    border-radius: 4px;
 }
 .up:hover{
  border: 1px solid blue;
 }
 .down{
    padding: 4px 4px;
    font-size: medium;
    line-height: 25px;
    font-family: 'Bold';
 }
 .plus {
  height: 55px;
  width: 0px;
  border-left: 10px solid rgb(0, 154, 205);
  }
  
  .plus::after{
    margin: 21px 0px 0px -32px;
    display: block;
    content: " ";
    width: 55px;
    border-bottom: 10px solid rgb(0, 154, 205);
  }

/* test cards */
/* background: radial-gradient(#1fe4f5, #3fbafe);
background: radial-gradient(#fbc1cc, #fa99b2);
background: radial-gradient(#60efbc, #58d5c9);
background: radial-gradient(#f588d8, #c0a3e5); */
#test_container{
  display: flex;
  flex-wrap:wrap;
  padding-left: 10%;
  padding-right: 5%;
  justify-content: flex-start;
  flex-direction: row;
}

.test_card{
  background: white;
  word-wrap: break-word;
  margin: 30px 0 0 30px;
  color: black;
  width:29.5vh ;
  height:34.5vh;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  /* background:radial-gradient(#fbc1cc, #fa99b2); */
  /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
}
.test_card:hover{
  border: 1px solid blue;
}

.preview{
  height:23.5vh;
  border: 1px solid #dfdfdf;
  border-radius: 4px 4px 0 0;
  
}

.more{
  cursor: pointer;
    font-size: large;
    color: black;
    width: 30px;
    height: 30px;
    margin: 15% 5% 0 0;
    line-height: 33px;
    text-align: center;
    float: right;
    border-radius: 50%;
    transition: all 0.2s;
}
.more:hover{
  background: #e0e1e2;
  
}

#active{
  position: relative;
  z-index: 2;
  margin:-2% 0 0 20%;
}
/* fdgfsdgs */
.dropdown-content {
  font-family:'Regular';
  display: none;
  position: absolute;
  background-color: white;
  width: 24vh;
  /* height: 132px; */
  margin-left: -8vh;
  margin-top: -23vh;
  overflow: auto;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0px 0px 3px gray;
}

.dropdown-content a {
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  justify-items: center;
  color: black;
  font-size: medium;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display: block;}


/* for small screen size */
@media only screen and (max-width:768px){
  .new{
    display:block;
    height: unset;
  }
  .left ,.right{
    padding: 4vh 0;
  }
  #active{
    margin:-5% 0 0 20%;
  }
}