*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'Regular' ;
    src: url(../font/Product\ Sans\ Regular.ttf);
  }
  @font-face{
    font-family:'Bold' ;
    src: url(../font/Product\ Sans\ Bold.ttf);
  }
body{
    font-family: 'Regular';
    background: #dce6e7;
}
.test_container{
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    width:92vw;
    height:80vh;
    background: white;
    border-radius: 4px;
    border-top: 8px solid lightblue;
    padding: 40px;
}
.container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Bold';
    border-radius: 4px;
    text-align: center;
    background:#3498db;
    width: 88px;
    height:30px ;
}
.up_sec{
    display: flex;
    justify-content: space-between;
}
.mid_sec{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #e1ecf1;
    border-radius: 4px;
    border: 1px solid grey;
}
.question_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"]{
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}
.question_box{
    display: flex;
    margin-top: 4%;
    width: 28vw;
    border-radius: 4px;
    height: 50vh;
    background: white;
    align-content: flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.que_circle{
    color: grey;
    display: flex;
    width: 5vh;
    margin: 4% 0 0 6%;
    height: 5vh;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid lightblue;
    cursor: pointer;
    font-family: 'Bold';
}
.que_circle:hover{
    color: black;
    border: 2px solid #3498db;
}
.low_sec{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.low_sec>div{
    margin: 1% 2% 0 0;
}
textarea{
    resize: none;
    outline: none;
    border: none;
    width: 40vw;
    font-family:'Regular';
}
.que_title{
    font-family: 'Bold';
}