<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-wrapper">
        <nav class="navbar">
            <img src="../../static/tem.jpeg" alt="Company Logo">
            <ul class="nav no-search">
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="new">
        <div class="left">
            <div class="title">Create new test</div>
            <a href="./create_test">
                <div class="box">
                    <div class="up">
                        <div class="plus"></div>
                    </div>
                    <div class="down">Blank</div>
                </div>
            </a>
        </div>
        <div class="right">
            <div class="title">Active test</div>
            <div id="active_container">
            </div>
        </div>
    </div>
    <div id="recent">
        <div id="recent_title" class="title" style="margin-top:20px;">No Recent Test</div>
        <div id="test_container">
            <template id="t0">
                <div  class="test_card" >
                    <i class="fa fa-ellipsis-v more"  >
                        <div  class="dropdown-content">
                            <a>Activate</a>
                            <a>Responses</a>
                            <a>View</a>
                            <a>Delete</a>
                        </div>
                    </i>
                <h1>DBMS</h1>
                <p>description</p>
                </div>
            </template>
        </div>
    </div>
     <br>
     <br>
<script>
   var test_count=0;
   const bg=[ "radial-gradient(#1fe4f5,#3fbafe)","radial-gradient(#60efbc,#58d5c9)","radial-gradient(#f588d8,#c0a3e5)"];
    
    function refresh_recent(){
        let recent_title=document.getElementById("recent_title");
        let test=document.getElementById("test_container");
        fetch("./all-exams").then((res)=>res.json()).then((data)=>{
           let parent= document.getElementById("test_container");
           while(parent.childElementCount !=1){
            parent.removeChild(parent.lastChild);
           }
            count=0;
            // remove active_exam = key and store in another variable to know which subject is activate
            let active_subject=data.active_subject;
            data = Object.keys(data);
            console.log(active_subject);
            for (let index = 0; index < data.length; index++) {
                const element = data[index];

                node=document.getElementById("t0");
                copy=node.content.children[0].cloneNode(true);
                copy.children[0].addEventListener("click",function show_more(e){if(typeof(e.path[0].children[0]) !="undefined"){e.path[0].children[0].classList.toggle("show");}});
                copy.children[0].children[0].children[3].addEventListener("click",(e)=>{fetch("./delete_subject/"+e.path[3].children[1].value).then((res)=>{
                    document.getElementById("active_container").removeChild(document.getElementById("active_container").lastChild);
                    refresh_recent();
                })});
                
                if(element != "active_subject"){
                    if(active_subject !=element){
                       
                        copy.style.background=bg[count%2];
                        copy.id=++test_count;
                        copy.children[0].children[0].children[0].addEventListener("click",(e)=>{fetch("./active-exam/{'subject_name':'"+e.path[3].children[1].value+"'}").then((res)=>{
                            document.getElementById("active_container").removeChild(document.getElementById("active_container").lastChild);
                            refresh_recent();
                        })});
                        copy.children[1].value=element;
                        copy.children[1].innerText=element.length>15?element.slice(0,15)+"...":element;
                        document.getElementById("test_container").appendChild(copy);
                        count++;
                    }
                }
                else if(active_subject !=""){ 
                    copy.style.background="radial-gradient(#fbc1cc, #fa99b2)";
                    copy.children[0].children[0].children[0].innerText="Diactivate";
                    copy.children[0].children[0].children[0].addEventListener("click",(e)=>{fetch("./active-exam/{'subject_name':'"+e.path[3].children[1].value+"','is_active':'true'}").then((res)=>{
                            document.getElementById("active_container").removeChild(document.getElementById("active_container").lastChild);
                            refresh_recent();
                        })});
                    copy.children[1].value=active_subject;
                    copy.children[1].innerText=active_subject.length>15?active_subject.slice(0,15)+"...":active_subject;
                    document.getElementById("active_container").appendChild(copy);
                }  
            }
            if(test.childElementCount ==1){
            recent_title.innerText="No recent tests";
            }
        else{
            recent_title.innerText="Recent tests";
            }
        });
       
    }
    
    window.onclick = function(event) {
      let tests= document.getElementsByClassName("test_card");
      for (let index = 0; index < tests.length; index++) {
        const element = tests[index];
        if(element!=event.path[1]){
            element.children[0].children[0].classList.remove("show");
        }
      }
    }
    refresh_recent();
</script>
</body>
</html>