<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-wrapper">
        <nav class="navbar">
            <img src="../../static/tem.jpeg" alt="Company Logo">
            <ul class="nav no-search">
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="new">
        <div class="title">Create new test</div>
        <a href="./create_test">
            <div class="box">
                <div class="up">
                    <div class="plus"></div>
                </div>
                <div class="down">Blank</div>
            </div>
        </a>
    </div>
    <div id="recent">
        <div class="title" style="margin-top:20px;">No Recent Test</div>
        <div id="test_container">
            <template id="t0">
                <div  class="test_card" >
                <i class="fa fa-ellipsis-v more"  >
                    <div  class="dropdown-content">
                        <a href="#home">Activate</a>
                        <a href="#about">Responses</a>
                        <a href="#contact">View</a>
                        <a href="#conact">Delete</a>
                      </div>
                </i>
                <h1>DBMS</h1>
                <p>description</p>
                </div>
            </template>
        </div>
    </div>
     <br>
     <br>
<script>
   var test_count=0;
   const bg=[ "radial-gradient(#1fe4f5,#3fbafe)","radial-gradient(#60efbc,#58d5c9)","radial-gradient(#fbc1cc,#fa99b2)","radial-gradient(#f588d8,#c0a3e5)"];
    function refresh_recent(){
        fetch("./all-exams").then((res)=>res.json()).then((data)=>{
            count=0;
            data.forEach(element => {
            node=document.getElementById("t0");
            copy=node.content.children[0].cloneNode(true);
            copy.style.background=bg[count%3];
            copy.id=++test_count;
            let id=copy.id;
            copy.children[0].addEventListener("click",function show_more(id){if(typeof(id.path[0].children[0]) !="undefined"){id.path[0].children[0].classList.toggle("show");}});
            copy.children[1].innerText=element.length>20?element.slice(0,20)+"...":element;
            document.getElementById("test_container").appendChild(copy);
            count++;
            });
           
        });
    }
    
    window.onclick = function(event) {
      let tests= document.getElementsByClassName("test_card");
      for (let index = 0; index < tests.length; index++) {
        const element = tests[index];
        if(element!=event.path[1]){
            element.children[0].children[0].classList.remove("show");
        }
      }
    }
    refresh_recent();
</script>
</body>
</html>