<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSTRAP    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">   
    
    <link rel="shortcut icon" href="../../static/favicon/favicon-96x96.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/create_test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;lang=en.css" />
    <title>Test</title>
</head>

<body>

    <!-- NAVBAR -->

    {% include 'header.html' %}


    <form action="../update_add_subject_questions" method="POST" id="form">
        {{ csrf.csrf_token }}
        <br>
        <div class="top_head">
            <input type="text" name="test_title" id="title" value="Untitled test" style="font-size: 2em;">
            <input type="number" name="test_time" id="time" placeholder="Enter the time span of test (in min)"
                style="padding:15px 20px;">
        </div>
        <br>
        <div id="que_container">
            <template>
                <div class="que" id="1">
                    <input class="que_title" type="text" name="q1" id="" value="untitled question">
                    <br>
                    <br>
                    <input type="radio" name="1answer" value="1">
                    <label for="op1"><input type="text" placeholder="option 1" name="1option1"></label>
                    <br>
                    <input type="radio" name="1answer" value="2">
                    <label for="op2"><input type="text" placeholder="option 2" name="1option2"></label>
                    <br>
                    <input type="radio" name="1answer" value="3">
                    <label for="op3"><input type="text" placeholder="option 3" name="1option3"></label>
                    <br>
                    <input type="radio" name="1answer" value="4">
                    <label for="op4"><input type="text" placeholder="option 4" name="1option4"></label>
                    <br>
                    <br>
                </div>
            </template>
        </div>

        <div id="form_options">
            <div id="btn_cancel" class="btn" onclick="cancel()">Cancel</div></a>
            <div id="btn_done" class="btn" onclick="done()">Done</div></a>
        </div>

        <div id="btn_del" onclick="del()"><i class="fa fa-minus" style="font-size:20px;color:#3498db;"></i></div>
        <div id="btn_add" onclick="add()"><i class="fa fa-plus" style="font-size:20px;color:#3498db;"></i></div>

    </form>
    <script>
        // variable to count no of questions
        var count;
        // varaible to store test name
        var subject_name;

        // function to add questions to the form
        function mount_question() {

            // fecth the deactive test question details from server
            fetch("../subject_questions").then((res) => res.json()).then((data) => {

                // calc the no of questions
                count =  data.length;

                //saving subject name for deleting its question purpose
                subject_name =  data[0].subject_name;

                // setting  test title
                document.getElementById("title").value = data[0].subject_name;
                document.getElementById("title").readOnly = true;

                // setting time value
                document.getElementById("time").value = data[0].test_time;
                document.getElementById("time").readOnly = true;

                // variable for question container
                let form = document.getElementById("que_container");

                // selecting the temp node
                let node = form.lastElementChild;

                // if no questions available
                if (count == 0) { form.innerHTML = "<center>No questions avialable</center>" }

                // adding questions to from 
                for (let index = 1; index <= count; index++) {

                    // copying temp node
                    let copy = node.content.children[0].cloneNode(true)

                    // setting id
                    copy.setAttribute("id", index);

                    // setting qeustion title
                    copy.childNodes[1].value = data[index-1].question;
                    copy.childNodes[1].readOnly = true;
                    copy.childNodes[1].name = "q" + index;

                    // setting option 1
                    copy.childNodes[7].name = index + "answer";
                    copy.childNodes[7].value = 1;
                    copy.childNodes[7].disabled = true;
                    copy.childNodes[7].checked = copy.childNodes[7].value == Number(data[index-1].answer) ? true : false;
                    copy.childNodes[9].childNodes[0].value = data[index-1].option_1;
                    copy.childNodes[9].childNodes[0].name = index + "option1";
                    copy.childNodes[9].childNodes[0].readOnly = true;
                    copy.childNodes[9].for = index + "answer";

                    // setting option 2
                    copy.childNodes[13].name = index + "answer";
                    copy.childNodes[13].value = 2;
                    copy.childNodes[13].disabled = true;
                    copy.childNodes[13].checked = copy.childNodes[13].value == Number(data[index-1].answer) ? true : false;
                    copy.childNodes[15].childNodes[0].value = data[index-1].option_2;
                    copy.childNodes[15].childNodes[0].name = index + "option2";
                    copy.childNodes[15].childNodes[0].readOnly = true;
                    copy.childNodes[15].for = index + "op1";

                    // setting option 3
                    copy.childNodes[19].name = index + "answer";
                    copy.childNodes[19].value = 3;
                    copy.childNodes[19].disabled = true;
                    copy.childNodes[19].checked = copy.childNodes[19].value == Number(data[index-1].answer) ? true : false;
                    copy.childNodes[21].childNodes[0].value = data[index-1].option_3;
                    copy.childNodes[21].childNodes[0].name = index + "option3";
                    copy.childNodes[21].childNodes[0].readOnly = true;
                    copy.childNodes[21].for = index + "op1";

                    // setting option 4
                    copy.childNodes[25].name = index + "answer";
                    copy.childNodes[25].value = 4;
                    copy.childNodes[25].disabled = true;
                    copy.childNodes[25].checked = copy.childNodes[25].value == Number(data[index-1].answer) ? true : false;
                    copy.childNodes[27].childNodes[0].value =data[index-1].option_4;
                    copy.childNodes[27].childNodes[0].name = index + "option4";
                    copy.childNodes[27].childNodes[0].readOnly = true;
                    copy.childNodes[27].for = index + "op1";

                    // appending the question the form
                    form.appendChild(copy);

                }

            });

            // hiding the components in reading mode
            document.getElementById("btn_cancel").style.display = "none";
            document.getElementById("btn_done").style.display = "none";
            document.getElementById("btn_del").style.display = "none";
            document.getElementById("btn_add").style.display = "none";

        }

        // mounting the question when the form loads
        mount_question();


        function add() {
            // variable to count no of questions
            count++;

            // function to  add new empty question
            let form = document.getElementById("que_container");

            //  old question feild
            let node = form.firstElementChild;

            // copying the old question
            let copy = node.content.children[0].cloneNode(true);

            // setting id
            copy.setAttribute("id", count);

            // setting the question
            copy.childNodes[1].value = "untitled question";
            copy.childNodes[1].name = "q" + count;

            // option 1
            copy.childNodes[7].name = count + "answer";
            copy.childNodes[7].checked = false;
            copy.childNodes[7].value = 1;
            copy.childNodes[9].childNodes[0].value = "";
            copy.childNodes[9].childNodes[0].name = count + "option1";
            copy.childNodes[9].for = count + "answer";

            // option 2
            copy.childNodes[13].name = count + "answer";
            copy.childNodes[13].checked = false;
            copy.childNodes[13].value = 2;
            copy.childNodes[15].childNodes[0].value = "";
            copy.childNodes[15].childNodes[0].name = count + "option2";
            copy.childNodes[15].for = count + "op1";

            // option 3
            copy.childNodes[19].name = count + "answer";
            copy.childNodes[19].checked = false;
            copy.childNodes[19].value = 3;
            copy.childNodes[21].childNodes[0].value = "";
            copy.childNodes[21].childNodes[0].name = count + "option3";
            copy.childNodes[21].for = count + "op1";

            // option 4
            copy.childNodes[25].name = count + "answer";
            copy.childNodes[25].checked = false;
            copy.childNodes[25].value = 4;
            copy.childNodes[27].childNodes[0].value = "";
            copy.childNodes[27].childNodes[0].name = count + "option4";
            copy.childNodes[27].for = count + "op1";

            //  appending the new question to the form
            form.appendChild(copy);

            //    scrolling down
            window.scrollTo(0, document.body.clientHeight);
        }

        // function to delete question
        function del() {
            let form = document.getElementById("que_container");
            if (form.childElementCount > 1) {
                form.removeChild(form.lastChild);
                count--;
            }
        }

        // function to cancel form
        function cancel() {
            let action = confirm("Do you really want to cancel the edited test");
            if (action) {
                window.location.reload();
            }
        }

        // function to submit form
        function done() {
            let action = confirm("Do you really want to save edited test");
            if (action) {
                fetch("/delete_subject/" + subject_name).then((res) => {
                    let form = document.getElementById("form");
                    form.submit();
                });
            }
        }

        // function to go into edit mode
        function edit() {

            // scrolling down to bottom
            window.scrollTo(0, document.body.clientHeight);

            // displaing eidting options
            document.getElementById("btn_cancel").style.display = "block";
            document.getElementById("btn_done").style.display = "block";
            document.getElementById("btn_del").style.display = "block";
            document.getElementById("btn_add").style.display = "block";
            document.getElementById("btn_edit").style.display = "none";

            // setting read only feild to editable field
            // for text input
            let input_text = document.querySelectorAll("input[type=text");
            for (let index = 0; index < input_text.length; index++) {
                const element = input_text[index];
                element.readOnly = false;
            }

            // for check box
            let input_check = document.querySelectorAll("input[type=radio");
            for (let index = 0; index < input_check.length; index++) {
                const element = input_check[index];
                element.disabled = false;

            }
        }

        // function to submit form 
        function submit() {
            let form = document.getElementById("form");
            let cont = document.getElementById("que_container");

            // removing the temp node from the form
            cont.removeChild(cont.firstElementChild);

            // submitting the form
            form.submit();
        }
    </script>
</body>

</html>