<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>our team section Using HTML and CSS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class = "about">
        <h1>About Project</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque id, maxime minima magnam harum ut. Quos alias in illum eaque! Optio beatae inventore aliquam reiciendis asperiores illo aliquid labore provident dicta vel. Nemo corrupti sed illo dolorem nisi, eligendi odio nulla error placeat numquam? Quo illum velit totam ipsam quibusdam?</p>
    </div>
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="our_team">
            <div class="team_member">
                <div class="member_img">
                    <img src="7642286.png" alt="our_team" width="120" height="120">
                    <div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>
                </div>
                <h3>Dhananjay Yedlabadkar</h3>
                <p>Frontend Dev</p>
            
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="7642286.png" alt="our_team" width="120" height="120">
                    <div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>
                </div>
                <h3>Krishna Pandey</h3>
                <p>Backend Dev</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores maiores temporibus, architecto
                    optio asperiores mollitia pariatur error, quaerat voluptatibus minima eos quo nostrum, maxime
                    necessitatibus.</p> -->
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="7642286.png" alt="our_team" width="120" height="120">
                    <div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>
                </div>
                <h3>Somesh Wagade</h3>
                <p>Frontend dev</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti
                    quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                    voluptatibus cumque.</p> -->
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="7642286.png" alt="our_team" width="120" height="120">
                    <div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>
                </div>
                <h3>Karan Mandave</h3>
                <p>Backend Dev</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti
                    quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                    voluptatibus cumque.</p> -->
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="7642286.png" alt="our_team" width="120" height="120">
                    <div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>
                </div>
                <h3>Rabiya Siddique</h3>
                <p>Analyst & Tester</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti
                    quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem
                    voluptatibus cumque.</p> -->
            </div>
        </div>
    </div>

</body>

</html>