<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="left">
        <form action="">
            <h2>For Teachers</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora error distinctio fugiat quisquam nihil animi magnam quasi in quidem! Accusantium.</p>
            <br>
            <a href="./Teachers/login.html"><div class="btn">Login for teachers</div></a>
            <br><br><br>
            <h2>For Students</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora error distinctio fugiat quisquam nihil animi magnam quasi in quidem! Accusantium.</p>
            <br>
            <a href="./Students/login.html"><div class="btn">Login for students</div></a>

        </form>
        </div>
        <div id="right" style="background:url(../static/tem.jpeg);background-size: cover;"></div>
    </div> 
</body>
</html>