<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>VISTA</title>
</head>
<body>
    <div class="container">
        <div id="left">
        <form action="">
            <h2 style="font-family: 'bold';">For Teachers</h2>
            <p> Create,edit and manage tests</p>
            <br>
            <a href="{{ url_for('teacher') }}"><div class="btn">Login for teachers</div></a>
            <br><br><br>
            <h2 style="font-family: 'Bold';">For Students</h2>
            <p>Take a virtual instant VIVA Test</p>
            <br>
            <a href="./students_active_page"><div class="btn">Start Exam</div></a>

        </form>
        </div>
        <div id="right" style="background:url(../../static/tem.jpeg);background-size: cover;"></div>
    </div> 
</body>
</html>